<!-- Template for qkgist -->
<html>
	<div id='template-module'>
		<div id='qheader' class='panel-heading'>
			<div id='userName' class=''><h1><a href='{{userLink}}'>{{userName}}'s Gists</a></h1></div>
			<div class="">
   				<div class="input-group">
      				<input id="newUserName" type="text" class="form-control" placeholder="GitHub UserName (eg. DevinCarr)">
      				<span class="input-group-btn">
        				<button class="btn btn-default" type="button">Get</button>
      				</span>
    			</div>
  			</div>
		</div>
		<div id='qkgistsContainer' class='panel-body'></div>
		<div class="panel-footer">
			&#169 2013 <a href="http://devincarr.com">Devin Carr</a> License 
			<a href="http://opensource.org/licenses/MIT">MIT</a>
			<span class='pull-right'><a href='https://github.com/DevinCarr/qkgist'>Source code</a></span>
		</div>
	</div>
	<div id='template-qkgist'>
		<ul class='nav nav-tabs'>
			<li><h4 class='navbar-text'>{{description}}</h4></li>
			<li id='filename' class='active pull-right'><a href='#'><h4>{{filename}}</h4></a></li>
		</ul>
		<br>
		<pre id='content' class="pre-scrollable">
			<code>{{content}}</code>
		</pre>
	</div>
</html>