<!-- Template for qkgist -->
<html>
	<div id='template-module'>
		<div id='qheader' class='panel-heading'>
			<h1 id='userName' class='panel-header'>{{userName}}'s Gists</h1>
			<div id='userLink'><a href='{{userLink}}'>GitHub</a></div>
		</div>
		<div id='qkgistsContainer' class='container'></div>
	</div>
	<div id='template-qkgist'>
		<ul class='nav nav-tabs'>
			<li><h4 class='navbar-text'>Description: {{description}}</h4></li>
			<li id='filename' class='active pull-right'><a href='#'><h4>{{filename}}</h4></a></li>
		</ul>
		<br>
		<pre id='content'>{{content}}</pre>
	</div>
</html>